div.footer
    p © 2023 InkSpire. All Rights Reserved.
    div.social-grid
        a(href="https://www.linkedin.com/" target="_blank")      
            img.social-link-icon(src="img/62833e53f002aefa08ae2a3d_LinkedIn%20-%20Negative.svg"
            alt="icon")
        a(href="https://www.linkedin.com/" target="_blank")      
            img.social-link-icon(src="img/62833e53f002aec203ae2a3e_Facebook%20-%20Negative.svg"
            alt="icon")
        a(href="https://www.linkedin.com/" target="_blank")      
            img.social-link-icon(src="img/62833e53f002ae4097ae2a3f_Instagram%20-%20Negative.svg" alt="icon")
        a(href="https://www.linkedin.com/" target="_blank")      
            img.social-link-icon(src="img/62833e53f002ae2769ae2a40_Twitter%20-%20Negative.svg"
            alt="icon")
    
    

