div.header
    div.logo
        img(src="img/logo.png", alt="logo")
        span InkSpire
    div.nav
        ul.navigation
            li All Blogs 
            li About 
            li Contact 
        button.get-started Get started